<script type="x/template" id="vue-payment-provider-select">
    <div class="cmp cmp-method-list list mb-4" v-bind:class="{ 'error': showError }">
        <h2>override PaymentProviderSelect</h2>
    </div>
</script>
